@charset "utf-8";
/* CSS Document */
  @import url("https://use.typekit.net/ops7twc.css");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: bilo, sans-serif;
}

.fill-screen {
	width: 100vw;
	height: 100vh;
	position: relative;
	background-size: cover;
	margin: 0;
}

/*--navbar--*/

.navbar {
	background: #2DBBAA;
	width: 100%;
	margin: auto;
	padding: 5px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	width: 60px;
	cursor: pointer;
	margin-left: 40px;
}

.navbar ul li {
	list-style: none;
	display: inline-block;
	margin-top: 15px;
	margin-right: 40px;
	position: relative;
}

.navbar ul li a {
	font-family: bilo, sans-serif;
	font-weight: 500;
	font-style: normal;
	text-decoration: none;
	color:#F3EEEA;
	text-transform: uppercase
}
	
.navbar ul li ::after {
	content: '';
	height: 3px;
	width: 0%;
	background: #F7B2CD;
	position: absolute;
	left: 0;
	bottom: 0;
	transition: 0.5s;
}

.navbar ul li :hover:after {
	width: 100%;
}

/*--home--*/

section .home {
	padding: 100px 200px;
	text-align: center;
}

.home {
	z-index: 888;
	color: #F3EEEA;
	position: relative;
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.home .fill-screen-text {
	position: absolute;
	z-index: 888;
	color: #F3EEEA;
	margin-top: 50px;
	text-align: left;
	margin: 0px 200px
}

.home .fill-screen-text h1 {
	font-family: chaloops, sans-serif;
	font-weight: 700;
	font-style: normal;
}

.home .fill-screen-text p {
	font-family: jaf-domus-titling-web, sans-serif;
	font-weight: 400;
	font-style: normal;
}

/*--buttons--*/

.home button {
	width: 300px;
	padding: 15px 0;
	text-align: center;
	margin: 20px 10px;
	border-radius: 25px;
	border: 2px solid #F7B2CD;
	background: transparent;
	color: #F3EEEA;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}

.home span{
	background: #F7B2CD;
	height: 100%;
	width: 0;
	border-radius: 25px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -1;
	transition: 0.5s;
}

.home button:hover span{
	width: 100%;
}

.home button:hover {
	border: none;
}

.home .fill-screen-text button{
	font-family: bilo, sans-serif;
	font-weight: 500;
	font-style: normal;
}

/*--media-icons--*/

.media-icons {
	z-index: 888;
	position: absolute;
	right: 5%;
	bottom: 40%;
	display: flex;
	flex-direction: column;
	transition: 0.5 ease;
}

.media-icons a {
	font-size: 1.6em;
	transition: 0.5s;
}

.media-icons a:hover {
	transform: scale(1.5);
}

/*--shop--*/

#product-details {
	display: flex;
	margin-top: 20px;
}

#product-details .product-image {
	width: 40%;
	margin-right: 50px;
	margin-left: 100px;
}

.small-img-group {
	display: flex;
	justify-content: space-around;
}

.small-img-col {
	flex-basis: 24%;
	cursor: pointer;
	justify-content: space-around;
}

#product-details .product-details {
	width: 50%;
	padding-top: 30px;
}

#product-details .product-details h4 {
	font-family: jaf-domus-titling-web, sans-serif;
	font-weight: 400;
	font-style: normal;
	padding: 40px 0 20px 0;
	font-size: 18px;
}

#product-details .product-details h2 {
	font-family: chaloops, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 35px;
}

#product-details .product-details h6 {
	font-family: bilo, sans-serif;
	font-weight: 500;
	font-style: normal;
	padding: 40px 0 20px 0;
	line-height: 25px;
	width: 600px;
}

#product-details .product-details input {
	width: 100px;
	height: 58px;
	border: 2px solid #F7B2CD;
	border-radius: 25px;
	padding-left: 10px;
	font-family: bilo, sans-serif;
	font-weight: 500;
	font-style: normal;
	color: #F3EEEA;
	font-size: 16px;
	margin-right: 10px;
}

/*--carousel--*/

.carousel-slides {
	width: 100vw;
	position: relative;
	margin: 0;
}
