@charset "utf-8";
/* CSS Document */
  @import url("https://use.typekit.net/ops7twc.css");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: bilo, sans-serif;
}

.fill-screen {
	width: 100%;
	height: 91vh;
	position: relative;
	background-size: cover;
	margin: 0;
}

/*--navbar--*/

.navbar {
	background: #2DBBAA;
	width: 100%;
	margin: auto;
	padding: 5px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	width: 60px;
	cursor: pointer;
	margin-left: 40px;
}

.navbar ul li {
	list-style: none;
	display: inline-block;
	margin-top: 15px;
	margin-right: 40px;
	position: relative;
}

.navbar ul li a {
	font-family: bilo, sans-serif;
	font-weight: 500;
	font-style: normal;
	text-decoration: none;
	color:#F3EEEA;
	text-transform: uppercase
}
	
.navbar ul li :after {
	content: '';
	height: 3px;
	width: 0%;
	background: #F7B2CD;
	position: absolute;
	left: 0;
	bottom: 0;
	transition: 0.5s;
}

.navbar ul li :hover:after {
	width: 100%;
}

/*--home--*/

section .home {
	padding: 100px 200px;
	text-align: center;
}

.home {
	z-index: 888;
	color: #F3EEEA;
	position: relative;
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.home .fill-screen-text {
	position: absolute;
	z-index: 888;
	color: #F3EEEA;
	margin-top: 5px;
	text-align: left;
	margin: 0px 200px
}

.home .fill-screen-text h1 {
	font-family: chaloops, sans-serif;
	font-weight: 700;
	font-style: normal;
}

.home .fill-screen-text p {
	font-family: jaf-domus-titling-web, sans-serif;
	font-weight: 400;
	font-style: normal;
}

/*--buttons--*/

.home button {
	width: 300px;
	padding: 15px 0;
	text-align: center;
	margin: 20px 10px;
	border-radius: 25px;
	border: 2px solid #F7B2CD;
	background: transparent;
	color: #F3EEEA;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}

.home span{
	background: #F7B2CD;
	height: 100%;
	width: 0;
	border-radius: 25px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -1;
	transition: 0.5s;
}

.home button:hover span{
	width: 100%;
}

.home button:hover {
	border: none;
}

.home .fill-screen-text button{
	font-family: bilo, sans-serif;
	font-weight: 500;
	font-style: normal;
}

.section-pro1 button {
	width: 300px;
	padding: 15px 0;
	text-align: center;
	margin: 20px 10px;
	border-radius: 25px;
	border: 2px solid #F7B2CD;
	background: transparent;
	color: black;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}

.section-pro1 span{
	background: #F7B2CD;
	height: 100%;
	width: 0;
	border-radius: 25px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -1;
	transition: 0.5s;
}

.section-pro1 button:hover span{
	width: 100%;
}

.section-pro1 button:hover {
	border: none;
}

.section-pro1 p {
	font-family: jaf-domus-titling-web, sans-serif;
	font-weight: 400;
	font-style: normal;
}


/*--media-icons--*/

.media-icons {
	z-index: 888;
	position: absolute;
	right: 5%;
	bottom: 40%;
	display: flex;
	flex-direction: column;
	transition: 0.5 ease;
}

.media-icons a {
	font-size: 1.6em;
	transition: 0.5s;
}

.media-icons a:hover {
	transform: scale(1.5);
}

/*--shop--*/

#product-details {
	display: flex;
	margin-top: 20px;
}

#product-details .product-image {
	width: 40%;
	margin-right: 50px;
	margin-left: 100px;
}

#product-details .product-details {
	width: 50%;
	padding-top: 30px;
}

#product-details .product-details h4 {
	font-family: jaf-domus-titling-web, sans-serif;
	font-weight: 400;
	font-style: normal;
	padding: 30px 0 20px 0;
	font-size: 18px;
}

#product-details .product-details h2 {
	font-family: chaloops, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 35px;
}

#product-details .product-details h6 {
	font-family: bilo, sans-serif;
	font-weight: 500;
	font-style: normal;
	padding: 10px 0 20px 0;
	line-height: 25px;
	width: 600px;
}

#product-details .product-details input {
	width: 100px;
	height: 58px;
	border: 2px solid #F7B2CD;
	border-radius: 25px;
	padding-left: 10px;
	font-family: bilo, sans-serif;
	font-weight: 500;
	font-style: normal;
	color: black;
	font-size: 16px;
	margin-right: 10px;
}

/*--carousel--*/

.general {
	margin: 80px 200px;
}

.general h1 {
	text-align: center;
	font-family: chaloops, sans-serif;
	font-weight: 700;
	font-style: normal;
}

.general p {
	text-align: center;
}

.general a {
	color: #2DBBAA;
	text-decoration: none;
}

.container-fluid-p-0 {
	margin-top: 0;
}

.carousel-item h3 {
	font-family: chaloops, sans-serif;
	font-weight: 700;
	font-style: normal;
	color: #F3EEEA;
}

.carousel-item p {
	font-family: jaf-domus-titling-web, sans-serif;
	font-weight: 400;
	font-style: normal;
	text-align: center;
	color: #F3EEEA;
}
	
/*--team--*/

.team {
	position: relative;
	width: 100%;
	height: 90vh;
	background: #F7B2CD;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.team-content {
	width: 100%;
	max-width: 1350px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, auto));
	align-items: center;
	gap: 25px;
	text-align: center;
	margin-top: 4rem;
}

.team-content img {
	width: 80%;
	height: auto;
	margin-bottom: 15px;
}

.center h1 {
	color: black;
	font-size: 4rem;
	text-align: center;
	font-family: chaloops, sans-serif;
	font-weight: 700;
	font-style: normal;
}

.box {
	padding: 25px;
	background: #EF3D23;
	border-radius: 15px;
	transition: all .38s ease;
}

.box h3 {
	font-size: 23px;
	font-family: jaf-domus-titling-web, sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #F3EEEA;
	margin-bottom: 8px;
}

.box h5 {
	font-size: 15px;
	font-family: bilo, sans-serif;
	font-weight: 500;
	font-style: normal;
	margin-bottom: 15px;
	color: #F3EEEA;
	letter-spacing: 2px;
}

.vision { 
	position: relative;
	width: 100%;
	height: 60vh;
	background: #2DBBAA;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.vision-content {
	width: 100%;
	max-width: 1350px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, auto));
	align-items: center;
	gap: 25px;
	text-align: center;
	margin-top: 4rem;
}

.vision-content img {
	width: 80%;
	height: auto;
	margin-bottom: 15px;
}

.vision-box {
	padding: 25px;
	background: #EF3D23;
	border-radius: 15px;
	transition: all .38s ease;
}

.vision-box h3 {
	font-size: 23px;
	font-family: jaf-domus-titling-web, sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #F3EEEA;
	margin-bottom: 8px;
}

.vision-box h5 {
	font-size: 15px;
	font-family: bilo, sans-serif;
	font-weight: 500;
	font-style: normal;
	margin-bottom: 15px;
	color: #F3EEEA;
	letter-spacing: 2px;
}

.values { 
	position: relative;
	width: 100%;
	height: 90vh;
	background: #F9B617;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

}

.values-content {
	width: 100%;
	max-width: 1350px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, auto));
	align-items: center;
	gap: 25px;
	text-align: center;
	margin-top: 4rem;
}

.values-content img {
	width: 80%;
	height: auto;
	margin-bottom: 15px;
}

/*--shopping-cart--*/

.cart-page {
	margin: 80px 200px;
}

table {
	width: 100%;
	border-collapse: collapse;
}

.cart-info {
	display: flex;
	flex-wrap: wrap;
}

th {
	text-align: left;
	padding: 5px;
	color: white;
	background: #EF3D23;
	font-family: chaloops, sans-serif;
	font-weight: 700;
	font-style: normal;
}

td {
	padding: 10px 5px;
}

td input {
	width: 40px;
	height: 30px;
	padding: 5px;
}

td a {
	color: #EF3D23;
	font-size: 12px;
}

td img {
	width: 90px;
	height: 90px;
	margin-right: 10px;
}

.total-price {
	display: flex;
	justify-content: flex-end;
}

.total-price table {
	border-top: 3px solid #EF3D23;
	width: 100%;
	max-width: 400px;
}

td:last-child {
	text-align: right;
}

th:last-child {
	text-align: right;
}

/*--corporate-content--*/

.corporate-content {
	margin: 80px 200px;
}

.corporate-content h2 {
	color: black;
	font-size: 50px;
	text-align: center;
	font-family: chaloops, sans-serif;
	font-weight: 700;
	font-style: normal;
}

.corporate-content table {
	width: 100%;
	border-collapse: collapse;
}

.corporate-content {
	display: flex;
	flex-wrap: wrap;
}

.corporate-content th {
	text-align: left;
	padding: 5px;
	color: black;
	background: #F9B617;
	font-family: jaf-domus-titling-web, sans-serif;
	font-weight: 400;
	font-style: normal;
}

.corporate-content td {
	padding: 10px 5px;
}

.corporate-content td a {
	color: #F9B617;
	font-size: 15px;
}

/*--corporate-content--*/

.corporate-production {
	margin: 80px 200px;
}

.corporate-production h2 {
	color: black;
	font-size: 50px;
	text-align: center;
	font-family: chaloops, sans-serif;
	font-weight: 700;
	font-style: normal;
}

.chaloops {
	font-family: chaloops, sans-serif;
	font-weight: 700;
	font-style: normal;
}

.jaf-domus-titling {
	font-family: jaf-domus-titling-web, sans-serif;
	font-weight: 400;
	font-style: normal;
}

.bilo {
	font-family: bilo, sans-serif;
	font-weight: 500;
	font-style: normal;
}

/*--corporate-marketing--*/

.corporate-marketing {
	margin: 80px 200px;
}

.corporate-marketing h2 {
	color: black;
	font-size: 50px;
	text-align: center;
	font-family: chaloops, sans-serif;
	font-weight: 700;
	font-style: normal;
}

.corporate-marketing h4 {
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: jaf-domus-titling-web, sans-serif;
	font-weight: 400;
	font-style: normal;
}

.img-marketing img {
	align-items: top;
	margin: 20px;	
}

/*--corporate-management--*/

.corporate-management {
	margin: 80px 200px;
}

.corporate-management h2 {
	color: black;
	font-size: 50px;
	text-align: center;
	font-family: chaloops, sans-serif;
	font-weight: 700;
	font-style: normal;
}

.corporate-management h4 {
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: jaf-domus-titling-web, sans-serif;
	font-weight: 400;
	font-style: normal;
}